.PersonFiltersBox {
    width: 30%;
    color: #a3c0ff;
    //border: 1px solid black;

    .TitleAndClearBox {
        //border: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid black;
        margin-bottom: 30px;

        .pFilters {
            font-size: 35px;
            margin-bottom: 5px;
        }
    }

    .filters {
        //border: 1px solid black;

        .countriesSelect {
            //background-color: #444D7A;
            color:#a3c0ff;
            margin-bottom: 30px;
            padding-bottom: 30px;

            svg {
                height: 18px;
                width: 18px;
            }
            //border-bottom: 1px solid black;
        }
    }

    .filterP{
        font-size: 26px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }

    .fPeriods {
        //border: 1px solid black;
        display: flex;
        flex-wrap: wrap;

        .onePeriod {
            height: 40px;
            width: 140px;
            font-size: 19px;
            font-weight: 500;
            font-family: sans-serif;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //border: 1px solid black;

            input {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }

    .buttonBox {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        //border: 1px solid black;

        button {
            background-color: #444D7A;
            border: none;
            border: none;
            border-bottom: 1px solid black;
            font-size: 20px;
            color: #a3c0ff;
        }

        button:hover {
            color: orange;
        }
    }

    input {
        margin-top: 5px;
        padding-bottom: 5px;
        background-color: #444D7A;
        border: none;
        border-bottom: 1px solid black;
        font-size: 16px;
        color: #a3c0ff;
    }

    input::placeholder {
        color: #a3c0ff
    }

    input:focus {
        outline: none;
    }
}

@media (max-width: 900px) {
    .PersonFiltersBox {
        width: 100%;
    }
}